{% extends "loginlayout.html" %}

{% block navbar %}
<div class="about" style="text-align: center; display: block; border-radius: 15px; box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);">
  <a href="/" style="color: inherit; text-decoration: none !important;"><h1>About</h1></a>
</div>
{% endblock %}

{% block form %}
  <div style="text-align: justify; display: flex; height: 120%; overflow-y: scroll; color: #32383e;">
    <div>
      My name is "Pyie Phone Pai", aka "Dexter". I am the creator of this webapp.
      This is my starter project and I am currently trying to break into tech world.
      I don't have an IT related degree, unfortunately.
      <br>
      I am very passionate about becoming a full-time software engineer.
      I hope this project showcase my dedication and commitment to become a software engineer.
      <br>
      <br>
      <b><p style="text-align: center;">Coding makes me very very happy!</p></b>
      <p style="text-align: center;">&#128512;</p>
    </div>
    <div></div>
  </div>
{% endblock %}